<h1>Weather Conditions</h1>

<div class="conditions">
  <% @conditions.each do |condition| %>
    <h1><%= @page %></h1>
    <h3>Date: <%= condition.date %></h3>
    <h3>Maximum Temperature: <%= @conditions.max_temperature %></h3>
    <h3>Mean Temperature: <%= @conditions.mean_temperature %></h3>
    <h3>Minimum Temperature: <%= @conditions.min_temperature %></h3>
    <h3>Mean Humidity: <%= @conditions.mean_humidity %></h3>
    <h3>Mean Visibility (Miles): <%= @conditions.mean_visibility %></h3>
    <h3>Mean Wind Speed (MPH): <%= @conditions.mean_wind_speed %></h3>
    <h3>Precipitation (Inches): <%= @conditions.precipitation %></h3>
    <h3>Zip Code: <%= @conditions.zipcode %></h3>
    <form action="/conditions/<%= condition.id %>" method="GET">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Edit Condition">
    </form>
    <form action="/conditions/<%= condition.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Condition">
    </form>
            <% end %>
            <div class="pagination">
              <% if @page < 1 %>
              <span class="next_page"><a href="/conditions?page=<%= @page + 1 %>" rel="next">Next »</span>
                <% elsif @page >= 1 %>
                <span class="prev_page"><a href="/conditions?page=<%= @page - 1 %>" rel="next">« Previous</span>
                  <span class="next_page"><a href="/conditions?page=<%= @page + 1 %>" rel="next">Next »</span>
                    <% end %>
                  </div>
</div>
