<h1>Trips</h1>

<div class="trips">
  <% @trips.each do |trip| %>
    <h3>Duration: <%= station.duration %></h3>
    <h3>Start Date: <%= station.start_date %></h3>
    <h3>Start Station: <%= station.start_station %></h3>
    <h3>End Date: <%= station.end_date %></h3>
    <h3>End Station: <%= station.end_station %></h3>
    <h3>Bike ID: <%= station.bike_id %></h3>
    <h3>Subscription Type: <%= station.subscription_type %></h3>
    <h3>Zip Code: <%= station.zip_code %></h3>
    <form action="/trips/<%= @trip.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Trip">
    </form>
  <% end %>
  <nav aria-label="...">
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav>
</div>

<%# Figure out how to order trips by date, only display 30trips at a time and the buttons to back and forth%>
