<h1>Station Dashboard</h1>

  <ul>
    <li> Total count of stations: <%= @stations.total_stations %></li>
    <li> Average bikes available per station: <%= @stations.average_bikes_station %></li>
    <li> Most bikes available at a station:<%= @stations.max_bikes_station %></li>
    <li> Station(s) where the most bikes are available: <%= @stations.stations_most_bikes %></li>
    <li> Fewest bikes available at a station: <%= @stations.fewest_bikes %></li>
    <li> Station(s) where the fewest bikes are available: <%= @stations.find_by_fewest_bikes %></li>
    <li> Most recently installed station: <%= @stations.newest_station %></li>
    <li> Oldest station: <%= @stations.oldest_station %></li>
  </ul>
