<h1>Station Dashboard</h1>

  <ul>
    <li> Total count of stations: <%= Station.total_stations %></li>
    <li> Average bikes available per station: <%= Station.average_bikes_station %></li>
    <li> Most bikes available at a station:<%= Station.max_bikes_station %></li>
    <li> Station(s) where the most bikes are available: <%= Station.stations_most_bikes %></li>
    <li> Fewest bikes available at a station: <%= Station.#call_method %></li>
    <li> Station(s) where the fewest bikes are available: <%= Station.#call_method %></li>
    <li> Most recently installed station: <%= Station.#call_method %></li>
    <li> Oldest station: <%= Station.#call_method %></li>
  </ul>
